body {
  background: #0b0c10;
  color: #c5c6c7;
  font-family: "Consolas", monospace;
  margin: 0;
}

h1 {
  background: #1f2833;
  color: #66fcf1;
  padding: 1rem;
  text-align: center;
}

#layout {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  align-items: flex-start;
}

.column {
  width: 33.333%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#console {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#log {
  background: #0b0c10;
  height: 220px; 
  overflow-y: auto;
  padding: 0.5rem;
  border: 1px solid #45a29e;
  border-radius: 5px;
}

.panel {
  background: #1f2833;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #45a29e;
}

h2 {
  margin-top: 0;
  color: #66fcf1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #45a29e;
  padding: 6px;
  text-align: center;
}

#graph {
  width: 100%;
  height: 300px;
}

#log {
  background: #0b0c10;
  height: 150px;
  overflow-y: auto;
  padding: 0.5rem;
  border: 1px solid #45a29e;
  border-radius: 5px;
}

#command-input {
  width: 100%;
  padding: 0.5rem;
  background: #0b0c10;
  border: 1px solid #45a29e;
  border-radius: 5px;
  color: #fff;
}

.lru {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.lru .item {
  background: #66fcf1;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #0b0c10;
}

#buckets {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.bucket {
  background: #0b0c10;
  border: 1px solid #45a29e;
  padding: 4px;
  border-radius: 4px;
  color: #66fcf1;
}

#ttl-heap {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.heap-item {
  background: #66fcf1;
  color: #0b0c10;
  padding: 5px;
  font-weight: bold;
  border-radius: 4px;
}
#help-box {
  background: #0b0c10;
  border: 1px solid #45a29e;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  text-align: left;
}

#help-box summary {
  color: #66fcf1;
  font-size: 1rem;
  cursor: pointer;
}

#help-content p {
  margin: 4px 0;
  padding-left: 0.5rem;
  border-left: 2px solid #45a29e;
}

#bloom-box, #skiplist-box, #trie-box, #topk-box {
  background: #0b0c10;
  padding: 0.5rem;
  border: 1px solid #45a29e;
  border-radius: 5px;
  height: auto;
  min-height: 40px;
  white-space: pre-wrap;
}

.pre-block {
  background: #0b0c10;
  border: 1px solid #0b0c10;
  padding: 0.7rem;
  border-radius: 6px;
  color: #cfe;
  min-height: 40px;
  max-height: 160px;
  overflow: auto;
}

.panel {
  min-height: 68px;
  max-height: 420px;
  overflow: hidden;
}
